html, body {
	font: 14px/1.5 -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
	font-weight: 400;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

ul, ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

code,
pre {
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
}

code {
  background-color: rgba(27,31,35,.05);
  border-radius: 3px;
  font-size: 85%;
  margin: 0;
  padding: .2em .4em;
}

pre {
  background-color: #24292e;
  color: white;
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
  font-size: 85%;
  line-height: 1.45;
  word-break: normal;
  overflow: auto;
  padding: 16px;
  margin-top: 0;
  margin-bottom: 0;
}

.width-full {
  width: 100%;
}

.Box {
  background-color: #fff;
  border: 1px solid #d1d5da;
  border-radius: 3px;
}
.Box-header {
  padding: 16px;
  margin: -1px -1px 0;
  background-color: #24292e;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.Box-row {
  background-color: #fff;
  padding: 16px;
  list-style-type: none;
  border-top: 1px solid #e1e4e8;
}
.Box-row--hover-gray:hover {
  background-color: #f6f8fa;
}
.Box-row[data-selected="true"] {
  background-color: #f6f8fa;
  box-shadow: 2px 0 0 #68153e inset;
}

.intro,
.header {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%23ff9d00' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23fb8d17' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23f47d24' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23ed6e2d' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23e35f34' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23d85239' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23cc453e' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23be3941' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23b02f43' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23a02644' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23901e44' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23801843' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%236f1341' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%235e0f3d' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%234e0c38' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%233e0933' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%232e062c' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23210024' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  color: white;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 48px 16px;
}

.intro h1 {
  font-size: 2.4em;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 32px;
}

.intro p {
  font-size: 1em;
  font-weight: 500;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: auto;
}

.intro svg {
  background-color: #68153e;
  border-radius: 10px;
}

.header {
  padding: 32px 16px 80px 16px;
}

.header + main {
  transform: translateY(-70px);
  margin: 16px;
}

.Button {
	background-color: white;
	border: 0;
	border-radius: 3px;
	color: #1e0121;
  font-weight: 500;
  padding: 12px 40px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

.Button--purple {
  color: #fff;
  background-color: #68153e;
}

.Pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
  width: 100%;
  padding: 16px;

}
